# Pandas
Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

In [1]:
#create a series from dict in pandas
import pandas as pd
info={'x':0,'y':1,'z':2}
a= pd.Series(info)

In [2]:
df

x    0
y    1
z    2
dtype: int64

In [10]:
#a pandas program to get the first 5 rows of a given DataFrame
exam_data={'name':['Ananya','Zoya','Radha','Aarohi','Manaswi','Karan','Rohit','Raj','Sunny','Michael']}
labels=['a','b','c','d','e','f','g','h','i','j']
df= pd.DataFrame(exam_data,index=labels)
df.iloc[:5]

      name
a   Ananya
b     Zoya
c    Radha
d   Aarohi
e  Manaswi

In [11]:
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [12]:
# a python program to convert a panda module series to python list and its type
ds= pd.Series([2,4,6,8,10])
type(ds)

pandas.core.series.Series

In [13]:
ds.tolist

<bound method IndexOpsMixin.tolist of 0     2
1     4
2     6
3     8
4    10
dtype: int64>

In [14]:
type(ds.tolist)

method

In [16]:
# a pandas program to add,subtract,multiple and divide two pandas Series
ds1= pd.Series([2,4,6,8,10])
ds2= pd.Series([1,3,5,7,9])
sum= ds1+ds2
print(sum)
sub= ds1- ds2
print(sub)
mul=ds1*ds2
print(mul)
div=ds1/ds2
print(div)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [17]:
ds1==ds2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [18]:
ds1<ds2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [19]:
ds1>ds2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [20]:
s1= pd.Series(['100','200','python','300.10','400'])
s2= pd.to_numeric(s1,errors='coerce')

In [21]:
s2

0    100.0
1    200.0
2      NaN
3    300.1
4    400.0
dtype: float64

In [22]:
s=pd.Series([0,1,2,3,4,5,6,7,8,9,10])
n=6
new_s= s[s<n]
new_s

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [23]:
s= pd.Series(data=[1,2,3,4,5],index=['A','B','C','D','E'])
s.reindex(index=['B','A','C','D','E'])

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [24]:
# a pandas code to get the items of a given series not present in another given series
sr1= pd.Series([1,2,3,4,5])
sr2= pd.Series([2,4,6,8,10])
result= sr1[~sr1.isin(sr2)]
result

0    1
2    3
4    5
dtype: int64

In [26]:
#
import numpy as np
np.random.RandomState(100)
num_series= pd.Series(np.random.randint(1,5,[15]))
result= num_series[~num_series.isin(num_series.value_counts().index[:1])]= 'replaced'

In [27]:
result

'replaced'